In [1]:
import os
from dotenv import load_dotenv

load_dotenv()

True

In [2]:
import pandas as pd

file_path = "./data1.csv"
data1 = pd.read_csv(file_path)

In [3]:
number_of_lines = len(data1)
print(f"Number of lines in the file: {number_of_lines}")

Number of lines in the file: 10000

In [4]:
data1.head(3)

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,15634602,619,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,15647311,608,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,15619304,502,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377

In [8]:
output_lines = []

for index, row in data1.iterrows():
    row_data = [f"{col}: {row[col]}" for col in data1.columns]
    line = " ".join(row_data)
    output_lines.append(line)

In [11]:
for line in output_lines[:5]:
    print(line)
    print("-"*150)

CustomerId: 15634602 CreditScore: 619 Age: 42 Tenure: 2 Balance: 0.0 NumOfProducts: 1 HasCrCard: 1 IsActiveMember: 1 EstimatedSalary: 101348.88 Exited: 1 Complain: 1 Satisfaction Score: 2 Card Type: DIAMOND Point Earned: 464
------------------------------------------------------------------------------------------------------------------------------------------------------
CustomerId: 15647311 CreditScore: 608 Age: 41 Tenure: 1 Balance: 83807.86 NumOfProducts: 1 HasCrCard: 0 IsActiveMember: 1 EstimatedSalary: 112542.58 Exited: 0 Complain: 1 Satisfaction Score: 3 Card Type: DIAMOND Point Earned: 456
------------------------------------------------------------------------------------------------------------------------------------------------------
CustomerId: 15619304 CreditScore: 502 Age: 42 Tenure: 8 Balance: 159660.8 NumOfProducts: 3 HasCrCard: 1 IsActiveMember: 0 EstimatedSalary: 113931.57 Exited: 1 Complain: 1 Satisfaction Score: 3 Card Type: DIAMOND Point Earned: 377
------------------------------------------------------------------------------------------------------------------------------------------------------
CustomerId: 15701354 CreditScore: 699 Age: 39 Tenure: 1 Balance: 0.0 NumOfProducts: 2 HasCrCard: 0 IsActiveMember: 0 EstimatedSalary: 93826.63 Exited: 0 Complain: 0 Satisfaction Score: 5 Card Type: GOLD Point Earned: 350
------------------------------------------------------------------------------------------------------------------------------------------------------
CustomerId: 15737888 CreditScore: 850 Age: 43 Tenure: 2 Balance: 125510.82 NumOfProducts: 1 HasCrCard: 1 IsActiveMember: 1 EstimatedSalary: 79084.1 Exited: 0 Complain: 0 Satisfaction Score: 5 Card Type: GOLD Point Earned: 425
------------------------------------------------------------------------------------------------------------------------------------------------------

In [12]:
lines = output_lines.copy()

In [16]:
lines[:5]

['CustomerId: 15634602 CreditScore: 619 Age: 42 Tenure: 2 Balance: 0.0 NumOfProducts: 1 HasCrCard: 1 IsActiveMember: 1 EstimatedSalary: 101348.88 Exited: 1 Complain: 1 Satisfaction Score: 2 Card Type: DIAMOND Point Earned: 464',
 'CustomerId: 15647311 CreditScore: 608 Age: 41 Tenure: 1 Balance: 83807.86 NumOfProducts: 1 HasCrCard: 0 IsActiveMember: 1 EstimatedSalary: 112542.58 Exited: 0 Complain: 1 Satisfaction Score: 3 Card Type: DIAMOND Point Earned: 456',
 'CustomerId: 15619304 CreditScore: 502 Age: 42 Tenure: 8 Balance: 159660.8 NumOfProducts: 3 HasCrCard: 1 IsActiveMember: 0 EstimatedSalary: 113931.57 Exited: 1 Complain: 1 Satisfaction Score: 3 Card Type: DIAMOND Point Earned: 377',
 'CustomerId: 15701354 CreditScore: 699 Age: 39 Tenure: 1 Balance: 0.0 NumOfProducts: 2 HasCrCard: 0 IsActiveMember: 0 EstimatedSalary: 93826.63 Exited: 0 Complain: 0 Satisfaction Score: 5 Card Type: GOLD Point Earned: 350',
 'CustomerId: 15737888 CreditScore: 850 Age: 43 Tenure: 2 Balance: 125510.82 NumOfProducts: 1 HasCrCard: 1 IsActiveMember: 1 EstimatedSalary: 79084.1 Exited: 0 Complain: 0 Satisfaction Score: 5 Card Type: GOLD Point Earned: 425']

In [13]:
number_of_lines = len(lines)
print(f"Number of lines in the file: {number_of_lines}")

Number of lines in the file: 10000

In [14]:
chunks = []

for line in lines:
    chunks.append(line)

print(f"Total number of chunks: {len(chunks)}")

Total number of chunks: 10000

In [15]:
chunks[:5]

['CustomerId: 15634602 CreditScore: 619 Age: 42 Tenure: 2 Balance: 0.0 NumOfProducts: 1 HasCrCard: 1 IsActiveMember: 1 EstimatedSalary: 101348.88 Exited: 1 Complain: 1 Satisfaction Score: 2 Card Type: DIAMOND Point Earned: 464',
 'CustomerId: 15647311 CreditScore: 608 Age: 41 Tenure: 1 Balance: 83807.86 NumOfProducts: 1 HasCrCard: 0 IsActiveMember: 1 EstimatedSalary: 112542.58 Exited: 0 Complain: 1 Satisfaction Score: 3 Card Type: DIAMOND Point Earned: 456',
 'CustomerId: 15619304 CreditScore: 502 Age: 42 Tenure: 8 Balance: 159660.8 NumOfProducts: 3 HasCrCard: 1 IsActiveMember: 0 EstimatedSalary: 113931.57 Exited: 1 Complain: 1 Satisfaction Score: 3 Card Type: DIAMOND Point Earned: 377',
 'CustomerId: 15701354 CreditScore: 699 Age: 39 Tenure: 1 Balance: 0.0 NumOfProducts: 2 HasCrCard: 0 IsActiveMember: 0 EstimatedSalary: 93826.63 Exited: 0 Complain: 0 Satisfaction Score: 5 Card Type: GOLD Point Earned: 350',
 'CustomerId: 15737888 CreditScore: 850 Age: 43 Tenure: 2 Balance: 125510.82 NumOfProducts: 1 HasCrCard: 1 IsActiveMember: 1 EstimatedSalary: 79084.1 Exited: 0 Complain: 0 Satisfaction Score: 5 Card Type: GOLD Point Earned: 425']

In [17]:
for i in range(3):
    print(len(chunks[i]))
    print(chunks[i])
    print("-"*150)

224
CustomerId: 15634602 CreditScore: 619 Age: 42 Tenure: 2 Balance: 0.0 NumOfProducts: 1 HasCrCard: 1 IsActiveMember: 1 EstimatedSalary: 101348.88 Exited: 1 Complain: 1 Satisfaction Score: 2 Card Type: DIAMOND Point Earned: 464
------------------------------------------------------------------------------------------------------------------------------------------------------
229
CustomerId: 15647311 CreditScore: 608 Age: 41 Tenure: 1 Balance: 83807.86 NumOfProducts: 1 HasCrCard: 0 IsActiveMember: 1 EstimatedSalary: 112542.58 Exited: 0 Complain: 1 Satisfaction Score: 3 Card Type: DIAMOND Point Earned: 456
------------------------------------------------------------------------------------------------------------------------------------------------------
229
CustomerId: 15619304 CreditScore: 502 Age: 42 Tenure: 8 Balance: 159660.8 NumOfProducts: 3 HasCrCard: 1 IsActiveMember: 0 EstimatedSalary: 113931.57 Exited: 1 Complain: 1 Satisfaction Score: 3 Card Type: DIAMOND Point Earned: 377
------------------------------------------------------------------------------------------------------------------------------------------------------

In [22]:
import time
import openai

embedding_model = "text-embedding-3-small"

client = openai.OpenAI()

def get_embedding(texts, model=embedding_model):
    texts = [text.replace("\n", " ") for text in texts]
    response = client.embeddings.create(input=texts, model=model)
    embeddings = [res.embedding for res in response.data]
    return embeddings

In [23]:
def embed_chunks(chunks, embedding_model="text-embedding-3-small", batch_size=1000, pause_time=3):
    start_time = time.time()
    embeddings = []
    counter = 1

    for i in range(0, len(chunks), batch_size):
        chunk_batch = chunks[i: i+batch_size]
        current_embeddings = get_embedding(chunk_batch, model=embedding_model)
        embeddings.extend(current_embeddings)
        print(f"Batch {counter} embedded.")
        counter += 1
        time.sleep(pause_time)
    
    response_time = time.time() - start_time
    print(f"Total response time: {response_time:.2f} seconds")
    
    return embeddings

In [24]:
embeddings = embed_chunks(chunks)

Batch 1 embedded.
Batch 2 embedded.
Batch 3 embedded.
Batch 4 embedded.
Batch 5 embedded.
Batch 6 embedded.
Batch 7 embedded.
Batch 8 embedded.
Batch 9 embedded.
Batch 10 embedded.
Total response time: 70.29 seconds

In [25]:
num_chunks = len(chunks)
print(f"Number of chunks: {num_chunks}")
print(f"Number of embeddings: {len(embeddings)}")

Number of chunks: 10000
Number of embeddings: 10000

In [26]:
dsize = 5
total = dsize * num_chunks
print("Total size = ", total)

duplicated_chunks = []
duplicated_embeddings = []

for i in range(len(chunks)):
    for _ in range(dsize):
        duplicated_chunks.append(chunks[i])
        duplicated_embeddings.append(embeddings[i])

print(f"Total number of duplicated chunks: {len(duplicated_chunks)}")
print(f"Total number of duplicated embeddings: {len(duplicated_embeddings)}")

Total size =  50000
Total number of duplicated chunks: 50000
Total number of duplicated embeddings: 50000

### Pinecone Index

In [28]:
from pinecone import Pinecone, ServerlessSpec

pc = Pinecone(api_key=os.getenv("PINECONE_API_KEY"))

/usr/local/lib/python3.11/dist-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [29]:
index_name = "bank-index-50000"
cloud = "aws"
region = "us-east-1"

spec = ServerlessSpec(cloud=cloud, region=region)

In [30]:
if index_name not in pc.list_indexes().names():
    pc.create_index(
        index_name,
        dimension=1536,
        metric="cosine",
        spec=spec
    )
    time.sleep(1)

index = pc.Index(index_name)
index.describe_index_stats()

{'dimension': 1536,
 'index_fullness': 0.0,
 'metric': 'cosine',
 'namespaces': {},
 'total_vector_count': 0,
 'vector_type': 'dense'}

In [33]:
import sys

def upsert_to_pinecone(data, batch_size):
    for i in range(0, len(data), batch_size):
        batch = data[i: i+batch_size]
        index.upsert(vectors=batch)

def get_batch_size(data, limit=4000000):
    total_size = 0
    batch_size = 0
    for item in data:
        item_size = sum([sys.getsizeof(v) for v in item.values()])
        if total_size + item_size > limit:
            break
        total_size += item_size
        batch_size += 1
    return batch_size

def batch_upsert(data):
    total = len(data)
    i = 0
    while i < total:
        batch_size = get_batch_size(data[i:])
        batch = data[i: i+batch_size]
        if batch:
            upsert_to_pinecone(batch, batch_size)
            i += batch_size
            print(f"Upserted {i}/{total} items...")
        else:
            break
    print("Upsert complete!")

In [34]:
ids = [str(i) for i in range(1, len(duplicated_chunks) + 1)]
data_for_upsert = [
    {"id": str(id), "values": emb, "metadata": {"text": chunk}}
    for id, (chunk, emb) in zip(ids, zip(duplicated_chunks, duplicated_embeddings))
]

start_time = time.time()

batch_upsert(data_for_upsert)

response_time = time.time() - start_time

print(f"Upsertion response time: {response_time:.2f} seconds")

Upserted 317/50000 items...
Upserted 634/50000 items...
Upserted 951/50000 items...
Upserted 1268/50000 items...
Upserted 1585/50000 items...
Upserted 1902/50000 items...
Upserted 2219/50000 items...
Upserted 2536/50000 items...
Upserted 2853/50000 items...
Upserted 3170/50000 items...
Upserted 3487/50000 items...
Upserted 3804/50000 items...
Upserted 4121/50000 items...
Upserted 4438/50000 items...
Upserted 4755/50000 items...
Upserted 5072/50000 items...
Upserted 5389/50000 items...
Upserted 5706/50000 items...
Upserted 6023/50000 items...
Upserted 6340/50000 items...
Upserted 6657/50000 items...
Upserted 6974/50000 items...
Upserted 7291/50000 items...
Upserted 7608/50000 items...
Upserted 7925/50000 items...
Upserted 8242/50000 items...
Upserted 8559/50000 items...
Upserted 8876/50000 items...
Upserted 9193/50000 items...
Upserted 9510/50000 items...
Upserted 9827/50000 items...
Upserted 10144/50000 items...
Upserted 10461/50000 items...
Upserted 10778/50000 items...
Upserted 11095/50000 items...
Upserted 11412/50000 items...
Upserted 11729/50000 items...
Upserted 12046/50000 items...
Upserted 12363/50000 items...
Upserted 12680/50000 items...
Upserted 12997/50000 items...
Upserted 13314/50000 items...
Upserted 13631/50000 items...
Upserted 13948/50000 items...
Upserted 14265/50000 items...
Upserted 14582/50000 items...
Upserted 14899/50000 items...
Upserted 15216/50000 items...
Upserted 15533/50000 items...
Upserted 15850/50000 items...
Upserted 16167/50000 items...
Upserted 16484/50000 items...
Upserted 16801/50000 items...
Upserted 17118/50000 items...
Upserted 17435/50000 items...
Upserted 17752/50000 items...
Upserted 18069/50000 items...
Upserted 18386/50000 items...
Upserted 18703/50000 items...
Upserted 19020/50000 items...
Upserted 19337/50000 items...
Upserted 19654/50000 items...
Upserted 19971/50000 items...
Upserted 20288/50000 items...
Upserted 20605/50000 items...
Upserted 20922/50000 items...
Upserted 21239/50000 items...
Upserted 21556/50000 items...
Upserted 21873/50000 items...
Upserted 22190/50000 items...
Upserted 22507/50000 items...
Upserted 22824/50000 items...
Upserted 23141/50000 items...
Upserted 23458/50000 items...
Upserted 23775/50000 items...
Upserted 24092/50000 items...
Upserted 24409/50000 items...
Upserted 24726/50000 items...
Upserted 25043/50000 items...
Upserted 25360/50000 items...
Upserted 25677/50000 items...
Upserted 25994/50000 items...
Upserted 26311/50000 items...
Upserted 26628/50000 items...
Upserted 26945/50000 items...
Upserted 27262/50000 items...
Upserted 27579/50000 items...
Upserted 27896/50000 items...
Upserted 28213/50000 items...
Upserted 28530/50000 items...
Upserted 28847/50000 items...
Upserted 29164/50000 items...
Upserted 29481/50000 items...
Upserted 29798/50000 items...
Upserted 30115/50000 items...
Upserted 30432/50000 items...
Upserted 30749/50000 items...
Upserted 31066/50000 items...
Upserted 31383/50000 items...
Upserted 31700/50000 items...
Upserted 32017/50000 items...
Upserted 32334/50000 items...
Upserted 32651/50000 items...
Upserted 32968/50000 items...
Upserted 33285/50000 items...
Upserted 33602/50000 items...
Upserted 33919/50000 items...
Upserted 34236/50000 items...
Upserted 34553/50000 items...
Upserted 34870/50000 items...
Upserted 35187/50000 items...
Upserted 35504/50000 items...
Upserted 35821/50000 items...
Upserted 36138/50000 items...
Upserted 36455/50000 items...
Upserted 36772/50000 items...
Upserted 37089/50000 items...
Upserted 37406/50000 items...
Upserted 37723/50000 items...
Upserted 38040/50000 items...
Upserted 38357/50000 items...
Upserted 38674/50000 items...
Upserted 38991/50000 items...
Upserted 39308/50000 items...
Upserted 39625/50000 items...
Upserted 39942/50000 items...
Upserted 40259/50000 items...
Upserted 40576/50000 items...
Upserted 40893/50000 items...
Upserted 41210/50000 items...
Upserted 41527/50000 items...
Upserted 41844/50000 items...
Upserted 42161/50000 items...
Upserted 42478/50000 items...
Upserted 42795/50000 items...
Upserted 43112/50000 items...
Upserted 43429/50000 items...
Upserted 43746/50000 items...
Upserted 44063/50000 items...
Upserted 44380/50000 items...
Upserted 44697/50000 items...
Upserted 45014/50000 items...
Upserted 45331/50000 items...
Upserted 45648/50000 items...
Upserted 45965/50000 items...
Upserted 46282/50000 items...
Upserted 46599/50000 items...
Upserted 46916/50000 items...
Upserted 47233/50000 items...
Upserted 47550/50000 items...
Upserted 47867/50000 items...
Upserted 48184/50000 items...
Upserted 48501/50000 items...
Upserted 48818/50000 items...
Upserted 49135/50000 items...
Upserted 49452/50000 items...
Upserted 49769/50000 items...
Upserted 50000/50000 items...
Upsert complete!
Upsertion response time: 582.83 seconds

In [35]:
print("Index stats")
print(index.describe_index_stats(include_metadata=True))

Index stats
{'dimension': 1536,
 'index_fullness': 0.0,
 'metric': 'cosine',
 'namespaces': {'': {'vector_count': 50000}},
 'total_vector_count': 50000,
 'vector_type': 'dense'}

In [36]:
def display_results(query_results):
    for match in query_results['matches']:
        print(f"ID: {match['id']}, Score: {match['score']}")
        if 'metadata' in match and 'text' in match['metadata']:
            print(f"Text: {match['metadata']['text']}")
        else:
            print("No text available")

In [37]:
embedding_model = "text-embedding-3-small"

def get_embedding(text, model=embedding_model):
    text = text.replace("\n", " ")
    response = client.embeddings.create(input=[text], model=model)
    embedding = response.data[0].embedding
    return embedding

In [38]:
import openai
# Initialize the OpenAI client
client = openai.OpenAI()

print("Querying vector store")
start_time = time.time()  # Start timing before the request
query_text = "Customer Robertson CreditScore 632Age 21 Tenure 2Balance 0.0NumOfProducts 1HasCrCard 1IsActiveMember 1EstimatedSalary 99000 Exited 1Complain 1Satisfaction Score 2Card Type DIAMONDPoint Earned 399"
query_embedding = get_embedding(query_text,model=embedding_model)
query_results = index.query(vector=query_embedding, top_k=1, include_metadata=True)  # Request metadata
#print("raw query_results",query_results)
print("processed query results")
display_results(query_results) #display results
response_time = time.time() - start_time              # Measure response time
print(f"Querying response time: {response_time:.2f} seconds")  # Print response time

Querying vector store
processed query results
ID: 1686, Score: 0.824388742
Text: CustomerId: 15648064 CreditScore: 649 Age: 33 Tenure: 2 Balance: 0.0 NumOfProducts: 2 HasCrCard: 1 IsActiveMember: 0 EstimatedSalary: 2010.98 Exited: 0 Complain: 0 Satisfaction Score: 3 Card Type: DIAMOND Point Earned: 720
Querying response time: 0.94 seconds